<div class="container-fluid profile">
  <div class="row">
    <div class="col-sm-12">
      <h1>Profile</h1>
    </div>
  </div>
  <div class="row profile-headers">
    <div class="col-xs-4">
      <a href="/profile/route"><h2>Routes</h2></a>
    </div>
    <div class="col-xs-4">
      <h2 class="active">Farms</h2>
    </div>
    <div class="col-xs-4">
      <a href="/profile/account"><h2>Account</h2></a>
    </div>
  </div>
  <div class="row profile-content">
    <div class="col-sm-12">

      <% if (places.length > 0) { %>
        <% places.forEach(function(place, i) { %>
          <div class="farm-card">
            <h3><%= place.namePlace %></h3>
            <p class="created hidden">Created: <%= place.timestamps%> </p>
            <p><span>Address: </span><%= place.location.coordinates %></p>
            <p class="website"><span>Website: </span><a href="<%= place.websitePlace %>"><%= place.websitePlace %></a></p>
            <p class="phone"><span>Phone: </span><%= place.phonePlace %></p>
            <button>See on Map</button>
          </div>
        <% }) %>
        <% } else { %>
        <div class="">
          <p><%= user.username %> doesn't have any farms yet.</p>
        </div>
      <% } %>
    </div>
  </div>
</div>
</div>
