<div class="container-fluid profile">
  <div class="row">
    <div class="col-sm-12">
      <h1>Profile</h1>
    </div>
  </div>
  <div class="row profile-headers">
    <div class="col-xs-4">
      <h2 class="active">Routes</h2>
    </div>
    <div class="col-xs-4">
      <a href="/profile/farm"><h2>Farms</h2></a>
    </div>
    <div class="col-xs-4">
      <a href="/profile/account"><h2>Account</h2></a>
    </div>
  </div>
  <div class="row profile-content">
    <div class="col-sm-12">

  <div>
 
  </div>
      <h3>Saved Routes <%= user.username %></h3>

      <!-- <a class="title" href="/profile/route/<%=  %>"><%= routes %></a> -->
      
      <% if (routes.length > 0) { %>
        <% routes.forEach(function(route, i) { %>
          <div class="">
        
            <ul>
              <li><%= i %> - <%= route.route %></li>
            </ul>

        <% }) %>
        <% } else { %>
        <div class="">
          <p><%= user.username %> hasn't routes yet.</p>
        </div>
      <% } %>



    </div>
  </div>
</div>
